@font-face {
    font-family: 'Pixel';
    src: url(../../font/Pixel.otf) format('truetype');
}

html {
    cursor: url(../../SHARED/SHARED-IMG/cursor/pixel.cur) 1 1, auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img {
    -webkit-user-drag: none;
}

body {
    background-color: beige;
    font-family: monospace;
}

.CustomNav,
.OuterContainer,
.GamemodeBtn,
#Playbtn {
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Playbtn,
.GamemodeBtn,
#speakerIcon {
    transition: background-color 0.3s ease-out;
}

.CustomNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 25px;
    height: 80px;
}

h1 {
    color: beige;
    font-family: 'Pixel', monospace;
    font-size: 40px;
    letter-spacing: 3px;
}

.OuterContainer {
    background-color: rgb(202, 202, 190);
    border-radius: 15px;
    height: 540px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 10px;
    padding-top: 10px;
}

#loading {
    margin-top: 60px;
    margin-left: 500px;
    color: beige;
    z-index: 100;
    position: fixed;
}

.dots::after {
    content: '';
    animation: dots 1s steps(4, end) infinite;
}

@keyframes dots {
    0% {
        content: '';
    }

    25% {
        content: '.';
    }

    50% {
        content: '..';
    }

    75% {
        content: '...';
    }

    100% {
        content: '';
    }
}

.no-link {
    cursor: url(../../SHARED/SHARED-IMG/cursor/pixel.cur) 1 1, auto;
}

.link {
    cursor: url(../../SHARED/SHARED-IMG/cursor/pixel_link.cur) 8 1, auto;
}

#exitIcon,
#speakerIcon {
    height: 50px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    float: left;
}

#exitIcon:hover,
#speakerIcon:hover {
    cursor: url(../../SHARED/SHARED-IMG/cursor/pixel_link.cur) 8 1, auto;
    background-color: rgba(102, 102, 102, 0.76);
}

#smallTitle {
    font-size: 20px;
    font-style: italic;
}

#Playbtn {
    height: 50px;
    width: 120px;
    border-radius: 15px;
    padding-top: 4px;
    font-size: 40px;
    font-family: 'Pixel', monospace;
    letter-spacing: 1px;
}

.Playbtn:hover {
    background-color: rgb(224, 224, 224);
}

#Playbtn {
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Playbtn {
    transition: background-color 0.3s ease-out;
}

.no-link {
    cursor: url(../../SHARED/SHARED-IMG/cursor/pixel.cur) 1 1, auto;
}

.link {
    cursor: url(../../SHARED/SHARED-IMG/cursor/pixel_link.cur) 8 1, auto;
}

/*----------------------------------------------------*/

.innerContainer {
    display: flex;
    height: 500px;
}

.scoreCont {
    height: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Text {
    margin: 0px 10px;
    font-size: 50px;
    color: black;
}

#scoreText {
    float: left;
}

#timerText {
    float: right;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px auto;
    background-color: rgb(173, 135, 78);
    padding: 20px;
    width: 600px;
    border-radius: 50px;
}

.hole {
    aspect-ratio: 1 / 1;
    width: 100%;
    background-color: rgb(173, 173, 157);
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    max-width: 100px;
    max-height: 100px;
    background-color: #000;
    box-shadow:
        inset 0 12px 12px rgba(150, 150, 150, 0.6),
        inset 0 -6px 8px rgba(0, 0, 0, 0.8);
    justify-self: center;
    align-self: center;
}

.mole {
    max-width: 100px;
    max-height: 100px;
}

.mole:hover {
    opacity: 0.9;
}

.moleDiv {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    transform: translateY(-130%);
    opacity: 0;
}

.hole.active .moleDiv {
    animation: popUp 0.3s ease-in-out forwards;
    opacity: 1;
    cursor: url(../../SHARED/SHARED-IMG/cursor/pixel_link.cur) 8 1, auto;
}

.blinking {
    animation: blink 1s infinite alternate;
}

@keyframes popUp {
    0% {
        transform: translateY(-120%);
        opacity: 0;
    }

    100% {
        transform: translateY(-130%);
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        color: rgb(184, 176, 184);
        text-shadow: #000 1px 1px 2px;
    }

    100% {
        color: black;
    }
}

.hammer {
    position: relative;
    width: 120px;
    height: 120px;
    z-index: 100;
    transition: transform 0.2s ease, opacity 0.1s ease;
    transform: rotate(0deg) translateY(-45%) translateX(80%);
    transform-origin: right bottom;
    pointer-events: none;
    opacity: 0;
}

.hit {
    opacity: 1;
    transform: rotate(-50deg) translateY(-45%) translateX(80%);
}